$first-color: #75553fff;
$second-color: #85674dff;
$third-color: #95795aff;
$fourth-color: #a58b68ff;
$fifth-color: #b49d75ff;
$sixth-color: #c4af83ff;
$seven-color: #d4c190ff;
$eighth-color: #e4d39eff;
$ninth-color: #f3e5abff;

.home-page {
  .banner {
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, $first-color, $ninth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    h1 {
      font-weight: 700;
      filter: drop-shadow(10px 20px 10px #75553f);
      text-align: center;

      letter-spacing: 4px;
      overflow: hidden;
      background: linear-gradient(90deg, $ninth-color, $eighth-color, $ninth-color);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 5s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.5em;

      @media (min-width: 500px) {
        font-size: 3em;
      }

      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }
    }
  }
  .introduction {
    padding: 20px;
    color: $first-color;

    p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  .section {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, $second-color, $eighth-color);
    padding: 20px;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    h2 {
      color: white;
      animation: fadeIn 2s ease-in-out 1s;
    }
    p {
      color: white;
      animation: fadeIn 2s ease-in-out 1.5s;
    }
    a {
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        color: $first-color;
      }
    }
    svg {
      color: white;
      animation: fadeIn 2s ease-in-out 2s;
    }
  }
}
@media (max-width: 885px) {
  .sections {
    .section {
      width: 100%;
    }
  }
}
