.home-page {
  background: linear-gradient(
    to bottom,
    #00324e,
    #0077be,
    #f6d02e,
    #e5c888,
    #ff6633,
    #8b4513,
    #006400,
    #87ceeb,
    #abf5ff
  );
  text-align: center;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.about-section {
  background-color: rgba(199, 193, 193, 0.54); /* Glassmorphism background color */
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
  border-radius: 1em;
  padding: 1em;

  .random-animal-section {
    ul {
      background-color: #75553f;
      border-radius: 0.5rem;
      list-style: none;
      padding: 1em;

      @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }

      li {
        background-color: #8f8f617a;
        outline: 1px solid #ddd;
        border-radius: 0.5rem;
        padding: 1rem;
        text-align: center;
        transition:
          background-color 0.2s,
          transform 0.2s;

        &:hover {
          color: #fff;
          background-color: #74af99ab;
          transform: perspective(500px) rotateX(7deg) rotateY(7deg);
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          color: #ffffff;

          img {
            max-width: 100%;
            height: auto;
            border-radius: 0.5rem;
          }

          h3 {
            margin-top: 0.5rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.contact-section {
  background-color: rgba(236, 255, 211, 0.55); /* Glassmorphism background color */
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  a {
    margin: 0.5em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #75553f;
    font-style: italic;

    padding: 0.5em 1em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    box-shadow:
      inset 3px -3px 30px #9c7154,
      inset -4px 4px 4px #ffffff,
      0 10px 20px #4e392ac0;

    &:hover {
      box-shadow:
        inset 3px -3px 10px #9c7154,
        inset -2px 2px 2px #ffffff,
        0 5px 10px #4e392ac0;
      color: #d2b48c;
    }
  }

  span {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #463838;

    b {
      text-decoration: underline;
    }
  }
}
