.home-page {
  background-color: #75553f;

  text-align: center;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.about-section {
  background-color: #c7c1c18a;
  backdrop-filter: blur(10px);
  border-radius: 1em;
  padding: 1em;

  .random-animal-section {
    ul {
      background-color: #855f477a;
      border-radius: 0.5rem;
      list-style: none;
      padding: 1em;

      @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }

      li {
        background-color: #75553f;
        font-style: italic;
        outline: none;
        border-radius: 0.5rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        transition:
          background-color 0.2s,
          transform 0.2s;
        &:hover {
          color: #fff;
          background-color: #75553fb6;
          transform: perspective(500px) rotateX(5deg) rotateY(5deg);
          box-shadow:
            inset 30px -3px 30px #75553f,
            inset -4px 4px 4px #b9a45e,
            10px 10px 20px #9c7154;
          h3 {
            text-shadow: 0px 10px 2px #000000b6;
            transition: 0.2s ease-in-out;
          }
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          color: #ffffff;

          img {
            max-width: 100%;
            height: auto;
            border-radius: 0.5rem;
            box-shadow:
              inset 30px -3px 30px #ff6600,
              inset -4px 4px 4px #ffffff,
              10px 10px 20px #ff6600;
          }

          h3 {
            margin-top: 0.5rem;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.contact-section {
  background-color: #c7c1c18a;
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  a {
    margin: 0.5em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #75553f;
    font-style: italic;

    padding: 0.5em 1em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    box-shadow:
      inset 3px -3px 30px #9c7154,
      inset -4px 4px 4px #ffffff,
      0 10px 20px #4e392ac0;

    &:hover {
      box-shadow:
        inset 3px -3px 10px #9c7154,
        inset -2px 2px 2px #ffffff,
        0 5px 10px #4e392ac0;
      color: #d2b48c;
    }
  }

  span {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #463838;

    b {
      text-decoration: underline;
    }
  }
}
