.scroll-to-top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #ff66007a;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  border-radius: 50%;

  &:hover {
    .progress-circle {
      background-color: #e8f7189a;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .progress-circle {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #ff6600b2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1.5rem solid #fff;
      transform: translateY(-2px);
    }
  }
}
