.navbar {
  background-color: #75553fd2;
  border-radius: 0.5em;
  padding: 1em;

  @media screen and (max-width: 768px) {
    border-radius: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 1.5em;
    box-sizing: border-box;
    background-color: transparent;
  }

  .navbar-list {
    border-radius: 0.5em 0.5em 0 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      background-color: #d4c190;
      z-index: 1;
      display: flex;
    }

    li {
      position: relative;

      transition: background-color 0.3s;
      box-sizing: border-box;

      @media screen and (max-width: 768px) {
        padding: 0;
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: #d4c190;
        text-decoration: none;
        transition: color 0.3s;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
          padding: 0.3rem;
          color: #75553f;
          flex-direction: column;
          align-items: center;
        }

        span {
          margin-left: 0.5rem;

          @media screen and (max-width: 768px) {
            display: block;
            margin-top: 0.2rem;
            font-size: 0.3em;
          }
        }

        &:not(.active):hover {
          color: #f8c471;
        }
      }

      .active {
        padding: 6px 17px;
        border-bottom: 2px solid transparent;
        box-shadow:
          0 -2px #d4c190,
          0 -2px 5px #d4c190,
          0 -2px 10px #d4c190,
          0 -2px 15px #d4c190,
          0 -2px 20px #d4c190,
          0 -2px 30px #d4c190,
          0 -2px 40px #d4c190;
        display: flex;
        align-items: center;
        transition: box-shadow 1s ease;
        border-radius: 1.1em;

        @media screen and (max-width: 768px) {
          border-bottom: 2px solid transparent;
          box-shadow:
            0 -2px #a58b68ff,
            0 -2px 5px #a58b68ff,
            0 -2px 10px #a58b68ff,
            0 -2px 15px #a58b68ff,
            0 -2px 20px #a58b68ff,
            0 -2px 30px #a58b68ff,
            0 -2px 40px #a58b68ff;
          display: flex;
          align-items: center;
          transition: box-shadow 1s ease;
        }
      }

      // Styles pour le sous-menu
      &:hover > .navbar-sublist {
        display: block;
      }

      .navbar-sublist {
        display: none;
        position: absolute;
        background-color: #75553fd2;
        top: 100%;
        left: 0;

        overflow: hidden;
        white-space: nowrap;

        z-index: 999;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .navbar-subitem {
        padding: 0.5rem;

        a {
          color: #d4c190;
          &:not(.active):hover {
            color: #f8c471;
          }
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
