.back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background: #ff66007a;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  border-radius: 50%;

  &.visible {
    opacity: 1;
  }

  .progress-circle {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #fff;
      border-radius: 50%;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      clip-path: polygon(0 0, 0 0, 0 0);
      transition: clip-path 0.3s ease-in-out;
    }
  }

  &:hover {
    .progress-circle::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
