$first-color: #75553fff;
$second-color: #85674dff;
$third-color: #95795aff;
$fourth-color: #a58b68ff;
$fifth-color: #b49d75ff;
$sixth-color: #c4af83ff;
$seventh-color: #d4c190ff;
$eighth-color: #e4d39eff;
$ninth-color: #f3e5abff;
$border-radius: 15px;

.definition-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
  justify-content: center;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.definition-comic {
  background: linear-gradient(to bottom, #85674d, #e4d39e);
  border-radius: $border-radius;
  padding: 20px; /* Réduit le padding */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.definition-header {
  background-color: $seventh-color;
  border-radius: $border-radius $border-radius 0 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  h2 {
    margin: 0;
    @media (max-width: 768px) {
      font-size: 1em;
    }
  }
}

.definition-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.definition-illustrations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    outline: $ninth-color 2px solid;
    border-radius: 50%;
    object-fit: cover;
    max-width: 150px;
    height: 150px;
    @media (max-width: 768px) {
      max-width: 120px;
      height: 120px;
    }
  }
}

.definition-speech-bubble {
  background-color: #e4d39e;
  box-shadow:
    inset 3px -3px 100px #9c7154,
    inset -1px 1px 1px #58402f,
    0 10px 20px rgba(78, 57, 42, 0.7529411765);
  padding: 15px;
  position: relative;
  height: 250px;
  overflow-y: auto;
}

.definition-speech-bubble-content {
  line-height: 1.5;
  font-size: 1em;
  color: #3a2a1e;
}
