#75553fff: #75553fff;
#85674dff: #85674dff;
#95795aff: #95795aff;
#a58b68ff: #a58b68ff;
#b49d75ff: #b49d75ff;
#c4af83ff: #c4af83ff;
#d4c190: #d4c190ff;
#e4d39eff: #e4d39eff;
#f3e5abff: #f3e5abff;
$border-radius: 15px;

.paleontologue-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
  justify-content: center;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.paleontologue-comic {
  background: linear-gradient(to bottom, #85674d, #e4d39e);
  border-radius: $border-radius;
  padding: 20px; /* Réduit le padding */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.paleontologue-header {
  background-color: #d4c190;
  border-radius: $border-radius $border-radius 0 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  h2 {
    margin: 0;
    @media (max-width: 768px) {
      font-size: 1em;
    }
  }
}

.paleontologue-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.paleontologue-illustrations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    outline: #f3e5abff 2px solid;
    border-radius: 10%;
    object-fit: cover;
    max-width: 150px;
    height: 150px;
    @media (max-width: 768px) {
      max-width: 120px;
      height: 120px;
    }
  }
}

.paleontologue-speech-bubble {
  background-color: #e4d39e;
  box-shadow:
    inset 3px -3px 100px #9c7154,
    inset -1px 1px 1px #58402f,
    0 10px 20px rgba(78, 57, 42, 0.7529411765);
  padding: 15px;
  position: relative;
  height: 250px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.8em;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10%;
    background: linear-gradient(to bottom, #75553f, #f3e5ab);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10%;
    background-color: #a58b68ff;
    background: linear-gradient(to top, #75553f, #f3e5ab);
  }
}

.paleontologue-speech-bubble-content {
  line-height: 1.5;
  font-size: 1em;
  color: #3a2a1e;
}
