.timeline-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;

  .timeline {
    font-size: 1.2rem;

    .era,
    .period,
    .epoch,
    .stage {
      &-label {
        cursor: pointer;
        user-select: none;
      }

      &-start,
      &-end {
        font-size: 1rem;
      }
    }

    .info {
      margin-top: 0.5rem;
      font-size: 1rem;

      .see-more {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

// Pour les écrans de taille inférieure ou égale à 768px
@media (max-width: 768px) {
  .timeline-container {
    padding: 1rem;

    .timeline {
      font-size: 1rem;

      .era,
      .period,
      .epoch,
      .stage {
        &-label {
          font-size: 1.2rem;
        }

        &-start,
        &-end {
          font-size: 0.8rem;
        }
      }

      .info {
        font-size: 0.8rem;
      }
    }
  }
}
