.timeline-container {
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline-item {
    background-color: #85674dff;
    filter: drop-shadow(10px 20px 10px #75553f);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    max-width: 600px;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline: #000 2px solid;

    &.era {
      background-color: #95795aff;
    }

    &.period {
      background-color: #b49d75ff;
    }

    &.epoch {
      background-color: #d4c190;
    }

    &.stage {
      background-color: #f3e5abff;
    }

    &.active {
      background-color: darken(#85674dff, 20%);
      color: #fff;
    }
  }

  .timeline-label {
    font-weight: bold;
    color: #75553fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .timeline-range {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.8em;
      margin-left: 10px;

      .timeline-start,
      .timeline-end {
        margin: 2px 0;
      }
    }

    .info-button {
      border: none;
      background: none;
      color: #000000;
      margin-left: 10px;
      cursor: pointer;
      outline: 1px solid #000000;
      padding: 0.5em;
      transition:
        background-color 0.3s,
        color 0.3s,
        box-shadow 0.3s;
      box-shadow:
        inset 2px 2px 5px #0000004d,
        inset -2px -2px 5px #ffffff80;

      &:hover {
        background-color: lighten(#75553fff, 20%);
        color: #fff;
        box-shadow:
          inset 3px 3px 7px #0000004d,
          inset -3px -3px 7px #ffffff80;
      }
    }
  }

  .search-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0.5em;
    filter: drop-shadow(5px 5px 5px);
    ::placeholder {
      color: #75553f;
    }

    input {
      background-color: #d4c190;
      outline: 2px solid #e4d39e;
      border-radius: 10px;
      color: #000;
      font-size: 16px;
      padding: 8px 16px;
      text-align: center;
    }
  }

  @media (max-width: 430px) {
    .timeline-container {
      padding: 10px;
    }

    .timeline-label {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .timeline-range {
        margin-left: 0;
        margin-top: 10px;
        align-items: flex-start;
      }

      .info-button {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}
