$first-color: #75553fff;
$second-color: #85674dff;
$third-color: #95795aff;
$fourth-color: #a58b68ff;
$fifth-color: #b49d75ff;
$sixth-color: #c4af83ff;
$seven-color: #d4c190ff;
$eighth-color: #e4d39eff;
$ninth-color: #f3e5abff;

.etymology-garden {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: $second-color;
}

.etymo-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: $ninth-color;
  box-shadow: 0 8px 32px 0 $third-color;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  outline: 1px solid#ffffff2e;
  margin: 10px;
}

.plant-label {
  font-size: 20px;
  font-weight: bold;
  color: $first-color;
}

.plant-description,
.plant-type {
  font-size: 16px;
  color: $third-color;
}
