#75553fff: #75553fff;
#85674dff: #85674dff;
#95795aff: #95795aff;
#a58b68ff: #a58b68ff;
#b49d75ff: #b49d75ff;
#c4af83ff: #c4af83ff;
#d4c190: #d4c190ff;
#e4d39eff: #e4d39eff;
#f3e5abff: #f3e5abff;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.etymo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 0.5em;
  background: #a58b68ff;
  min-height: 100vh;

  .title {
    font-size: 2.5rem;
    color: #75553fff;

    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    .grid-item {
      background: linear-gradient(175deg, #75553f, #f3e5ab);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s,
        box-shadow 0.3s;
      animation: fadeInUp 0.6s ease-in-out;
      text-align: center;
      filter: drop-shadow(5px 15px 10px #f3e5abff);

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .root {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
        color: #d4c190;
      }

      .meaning {
        font-size: 1.2rem;
        color: darken(#85674dff, 10%);
        font-weight: 700;
        margin-bottom: 10px;
      }

      .origin {
        font-size: 1rem;
        color: darken(#a58b68ff, 20%);
        font-weight: 600;
      }
    }
  }
}
