$first-color: #75553f;

$fourth-color: #a58b68;

$seventh-color: #d4c190;

.footer {
  margin-top: 1em;

  border-radius: 0.5em;
  background-color: $first-color;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  box-shadow:
    inset 3px -3px 500px #9c7154,
    inset -4px 4px 4px #58402f,
    0 10px 20px #4e392ac0;

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-section {
    flex-basis: 25%;
    margin-inline: 1rem;

    @media (max-width: 768px) {
      flex-basis: 100%;
    }
  }

  &-title {
    color: $seventh-color;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-links {
    list-style: none;
    padding: 0;
  }

  &-link {
    color: $seventh-color;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      text-decoration: underline;
    }
  }

  &-text {
    color: $seventh-color;
    line-height: 1.5;

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  i {
    color: $seventh-color;
    line-height: 1.5;
    font-size: 0.8em;
  }

  &-logo {
    width: 50%;
  }

  &-copyright {
    color: $seventh-color;

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  &-discord-icon,
  &-email-icon,
  &-linkedin-icon {
    color: $seventh-color;
    font-size: 2.5rem;

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &-contact-title {
    color: $seventh-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 768px) {
    margin-bottom: 2em;
  }
}
