.animal-card {
  display: flex;
  flex-direction: column;
  padding: 1em;

  h2 {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f3e5ab;
    color: #75553f;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: 630px) {
      font-size: 2em;
    }
  }

  h3 {
    text-align: center;
    margin-top: 1rem;
    background-color: #75553f;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow:
      inset 3px -3px 30px #9c7154,
      inset -4px 4px 4px #ffffff,
      0 10px 20px rgba(78, 57, 42, 0.7529411765);
  }

  button {
    background-color: #75553f;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.2s;
    box-shadow:
      inset 3px -3px 30px #9c7154,
      inset -4px 4px 4px #fff,
      0 10px 20px #4e392ac0;
    &:hover {
      box-shadow:
        inset 3px -3px 10px #9c7154,
        inset -2px 2px 2px #ffffff,
        0 5px 10px #4e392ac0;
    }
  }
}

.top-part {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  img {
    max-width: 80%;
    height: auto;
    border-radius: 0.5em;
    filter: drop-shadow(15px 20px 15px #75553f);
  }

  .animal-generalites {
    p {
      font-size: 1.2em;
      color: #75553f;
      font-style: italic;
    }
  }

  .animal-geologie-container {
    flex: 1 0 30%;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .animal-generalites {
      flex: 1;
      margin-right: 2em;
    }
  }
}

.middle-top-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    box-shadow:
      inset 3px -3px 100px #9c7154,
      inset -1px 1px 1px #58402f,
      0 10px 20px #4e392ac0;
    padding: 1em;

    @media (max-width: 768px) {
      height: 15em;
      overflow-y: auto;
    }

    @media (min-width: 600px) {
      font-size: 1.1em;
    }
  }
}

.middle-bottom-part {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #75553f;

  p {
    font-weight: 600;
  }

  section {
    margin: 1em 0;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    section {
      flex: 1 0 45%;
      margin: 1em;
    }
  }
}
