.navbar {
  background-color: #75553fd2;
  border-radius: 0.5em;

  @media screen and (max-width: 768px) {
    border-radius: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 1.5em;
    box-sizing: border-box;
    background-color: transparent;
  }

  .navbar-burger {
    cursor: pointer;
    display: none;
    font-size: 1.5em;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      background-color: #d4c190;
      z-index: 1;
      display: flex;
    }

    li {
      position: relative;
      padding: 1rem;
      transition: background-color 0.3s;
      box-sizing: border-box;

      @media screen and (max-width: 768px) {
        padding: 0;
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: #d4c190;
        text-decoration: none;
        transition: color 0.3s;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
          padding: 0.3rem;
          color: #75553f;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        span {
          margin-left: 0.5rem;

          @media screen and (max-width: 768px) {
            display: block;
            margin-top: 0.2rem;
            font-size: 0.3em;
          }
        }

        &:not(.active):hover {
          color: #f8c471;
        }
      }

      .active {
        outline: 2px solid #d4c190;

        width: 100%;
        display: block;
        padding: 0.5em;

        @media screen and (max-width: 768px) {
          outline: 1px solid #75553f;
          padding: 0.1em;
          font-size: 0.4em;
        }
      }

      // Styles pour le sous-menu
      &:hover > .navbar-sublist {
        display: block;
      }

      .navbar-sublist {
        display: none;
        position: absolute;
        background-color: #75553fd2;
        top: 100%;
        left: 0;
        width: 85%;
        z-index: 999;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .navbar-subitem {
        padding: 0.5rem;

        a {
          color: #d4c190;
          &:not(.active):hover {
            color: #f8c471;
          }
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
