.navbar {
  background-color: #333;
  border-radius: 0.5em;

  .navbar__burger {
    cursor: pointer;
    display: none; // Masquer le burger menu par défaut sur les écrans larges
    font-size: 1.5em;

    @media screen and (max-width: 768px) {
      display: block; // Afficher le burger menu sur les écrans étroits
    }
  }

  .navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;

      width: 100%;
      background-color: #5e5a5a77;
      z-index: 1;
      display: none;

      &.show {
        display: flex;
      }
    }

    li {
      position: relative;
      padding: 1rem;

      &:hover > .subnav {
        display: flex;
        flex-direction: column;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #ff9900;
        }
      }

      .subnav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #444;
        width: 100%;
        z-index: 1;

        li {
          padding: 0.5rem;

          a {
            color: white;

            &:hover {
              color: #ff9900;
            }
          }
        }
      }
    }

    .active {
      color: #ff9900;
      padding: 0.2em;
      background-color: #ff990018;
      box-shadow: 0 0 30px #75553f;
    }

    /* Responsive styles */
    @media screen and (max-width: 768px) {
      flex-direction: column;

      li {
        padding: 0.5rem;
        position: relative;

        .subnav {
          position: static;
          display: none;

          li {
            padding: 0.3rem;
          }
        }

        a {
          padding: 0.3rem;
        }
      }
    }
  }
}
